html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f5f5f5;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;    
}

.center {
    margin: auto;
    width: 100%;

  }
  .center2 {
    margin: auto;
    width: 70%;
    border: 3px;
    padding: 10px;
  }


.bottom {
    position: fixed;
    bottom: 0;
}

.nav{
  list-style:none;
  margin:0;
  padding-top: 20px;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
  text-decoration: none;
  color: #f5f5f5;
}

.nav a:hover {
  color: #f4c1c1;
}


.b {
  font-size: 50px;
  vertical-align: bottom;
  text-align: center;
  padding: 10px;
  border-left: transparent, 50px;
  border-right: transparent, 50px;
  color: #f5f5f5;
}

.a {
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-left: transparent, 50px;
  border-right: transparent, 50px;
  color: #f5f5f5;
}

.c {
  font-size: 25px;
  text-align: right;
  padding: 10px;
  color: #f5f5f5;
}

.d {
    font-size: 40px;
  vertical-align: bottom;
  text-align: center;
  padding: 50px;
  border-left: transparent, 50px;
  border-right: transparent, 50px;
  color: #f5f5f5;
  align-content: center;
}

.e {
    font-size: 35px;
  vertical-align: bottom;
  text-align: center;
  padding: 10px;
  border-left: transparent, 50px;
  border-right: transparent, 50px;
  color: #f5f5f5;
}

.f {
  font-size: 25px;
  text-align: left;
  padding: 10px;
  color: #f5f5f5;
}

.g {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  color: #f5f5f5;
}

small {
  width: 2%;
}


.logo {
  display: flex;
  justify-content: center;
}

  .column {
    float: left;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  img{
    max-width: 90%;
    max-height: 90%;
}

.button {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 15px;
  background-color: #9ec7df;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 20px auto;
  cursor: pointer;
  font-style: normal;
}

.sponsors {
  padding: 40px;
  width: 60%;
  margin: auto;
  display: block;
}

.imgcenter {
  margin: auto;
  display: block;
}

img {
  border: 3px solid white;
}
