html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
  }
  
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('https://i.pinimg.com/originals/1f/06/6d/1f066d8e466d4c56544b5df243ed4a51.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.column {
  float: left;
  width: 25%;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2vh;
  padding: 0 3vw;
}

@media screen and (max-width: 830px) {
  .column {
    width: 90%;
    display: block;
  }
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #f5f5f5;
}

h1 {
  color: #f5f5f5;
  text-align: center;
  padding-top: 1vw;
  margin-top: 20px;
  padding-bottom: 2vw;
}

h2 {
  color: #f5f5f5;
}

h3 {
  color: transparent;
  font-size: smaller;
  padding-top: 4vw;
  padding-bottom: 3vw;
}

h4 {
  color: #f5f5f5;
  font-size: smaller;
  padding: none;
  font-style: italic;
  font-weight: lighter;
}
p {
  color: #f8f8f8;

}

.center {
  margin: auto;
  width: 99%;
  padding: 10px;
}

  .bottom {
    position: fixed;
    bottom: 0;
}

.nav{
  list-style:none;
  margin:0;
  padding-top: 20px;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
  text-decoration: none;
  color: #f5f5f5;
}

.nav a:hover {
  color: #f4c1c1;
}

.logo {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 30px;
}

.join {
  color: #f5f5f5;
  text-align: center;
  padding: 40px;
  font-style: italic;
}

.join a:link {
  color: #f4c1c1;
  text-decoration: none;
}

.join a:hover {
  color: #cf7d7d;
  text-decoration: none;
}

.join a:visited {
  color: #f4c1c1;
  text-decoration: none;
}